
# Created by https://www.toptal.com/developers/gitignore/api/react,visualstudiocode
# Edit at https://www.toptal.com/developers/gitignore?templates=react,visualstudiocode

### react ###
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*

node_modules
bower_components

*.sublime*

psd
thumb
sketch

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

# Support for Project snippet scope
!.vscode/*.code-snippets

# End of https://www.toptal.com/developers/gitignore/api/react,visualstudiocode
# Yaradıb: https://www.toptal.com/developers/gitignore/api/react,visualstudiocode # https://www.toptal.com/developers/gitignore?templates=react,visualstudiocode ünvanında redaktə edin ### reaksiya ### .DS_* *.log loglar **/*.yedek.* **/*.geri.* node_modulları bower_components *.əzəmətli* psd baş barmaq eskiz ### VisualStudioCode ### .vscode/* !.vscode/settings.json !.vscode/tasks.json !.vscode/launch.json !.vscode/extensions.json *.kod-iş sahəsi # Visual Studio Kodu üçün Yerli Tarix .tarix/ ### VisualStudioCode Patch ### # Faylların bütün yerli tarixinə məhəl qoymayın .tarix .ionid # Layihə parçasının əhatə dairəsi üçün dəstək !.vscode/*.code-snippets # https://www.toptal.com/developers/gitignore/api/react,visualstudiocode-un sonu
translated from: English