body {
  background-image: url("./img/bg.jpg");
  background-size: cover;
  color: white;
}
h1,
h2,
h3 {
  color: white;
}
.container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}
.header {
  display: flex;
  justify-content: space-evenly;
}
.input {
  width: 50%;
  margin: auto;
  padding: 0.6rem;
  font-size: 14px;
  outline: none;
  border: 1px solid lightslategray;
  border-radius: 8px;
}
.weather-data {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.ant-row {
  width: 100%;
}
.ant-select {
  width: 60%;
}
.ant-row .ant-col {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
button {
  background-color: linen;
  border-radius: 6px;
  padding: 0.5rem 0.8rem;
  color: #000;
  font-weight: 600;
  border: none;
}
.main {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main img {
  width: 3rem;
}
.sunriseset {
  display: flex;
  padding: 3rem 0;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}
.white{
  color: #fff;
}
